/* Position and sizing of burger button */
.bm-burger-button {
    position: fixed;
    width: 36px;
    height: 30px;
    left: 36px;
    top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
    background: #116466;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
    background: #116466;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
    height: 24px;
    width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
    background: #d1e8e2;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
    position: fixed;
    height: 100%;
}

/* General sidebar styles */
.bm-menu {
    background: #116466;
    padding: 1.5em 0;
    font-size: 1.5em;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
    fill: #116466;
}

/* Wrapper for item list */
.bm-item-list {
    color: #d1e8e2;
    width: 300px;
    padding-top: 0.5em;
}

/* Individual item */
.bm-item {
    color: #d1e8e2;
    display: inline-block;
    outline: none;
    padding: 0.7em 3em;
}

.bm-item:hover {
    color: #2c3531;
    background-color: #d9b08c;
    border-radius: 2px;
    text-decoration: none;
}

/* Styling of overlay */
.bm-overlay {
    background: rgba(0, 0, 0, 0.3);
}
