#page-wrap {
    margin: auto;
}

#content {
    padding-top: 25px;
}

h2 {
    font-size: 2em;
}

.ui.inverted.button {
    color: #d9b08c;
    box-shadow: 0 0 0 2px #d9b08c inset!important;
}

.ui.inverted.button:hover {
    background: #d9b08c;
    color: white;
    box-shadow: 0 0 0 2px #d9b08c inset!important;
}

#cancel-btn {
    color: #d1e8e2;
    box-shadow: 0 0 0 2px #d1e8e2 inset!important;
}

#cancel-btn:hover {
    background: #d1e8e2;
    color: white;
    box-shadow: 0 0 0 2px #d1e8e2 inset!important;
}